//colors
$white: white;
$color_shark_approx: #282828;
$color_azure_approx: #336699;
$color_waikawa_gray_approx: #666699;
$black_40: rgba(0, 0, 0, 0.4);
$color_mine_shaft_approx: #333333;
$color_mountain_mist_approx: #999999;
$color_jungle_mist_approx: #b5cfd2;
$color_tana_approx: #dcddc0;
$color_celeste_approx: #ccc;
