/*// Place all the styles related to the Vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

//colors
$white: white;
$color_shark_approx: #282828;
$color_azure_approx: #336699;
$color_waikawa_gray_approx: #666699;
$black_40: rgba(0, 0, 0, 0.4);
$color_mine_shaft_approx: #333333;
$color_mountain_mist_approx: #999999;
$color_jungle_mist_approx: #b5cfd2;
$color_tana_approx: #dcddc0;
$color_celeste_approx: #ccc;
$color_edward_approx: #a2a8a8;

//fonts
$font_0: Lato;
$font_1: sans-serif;
$font_2: Open Sans;
$font_3: verdana;
$font_4: arial;

//urls
$url_0: url(cell-blue.jpg);
$url_1: url(cell-grey.jpg);


/*body*/


/*nav*/
.navbar-default {
    padding: 6px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0px !important;
    background-color: transparent;
    border-color: #336699;
    border-width: 10px; 
    border-style: solid;
    border-radius: 0px !important;
    transition: all .5s ease .25s;}
    
.navbar-brand {
        font-family: $font_0, $font_1;
        font-size: 38px !important;
        font-weight: 900;
        font-color: $color_edward_approx !important; 
        position: center;
        padding-top: 20px !important;
        text-transform: uppercase;
        font-style: italic;
        color: $white;
        > a {
        font-size: 38px !important;
        }
    }

 


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 3px 0 0;
    font-size: 20;
    text-align: left;
    list-style: none;
    background-color: $white;
    background-clip: padding-box;
    border: 0;
    box-shadow: 1px 1px 2px $black_40;
    > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        line-height: 1.42857143;
        color: $color_shark_approx;
        white-space: nowrap;
        font-family: $font_2, $font_1;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 20;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/*general*/
.row {
    z-index: 3;
    position: relative;
    margin-top: -20px;
}
.row-search {
    z-index: 3;
    position: relative;
    margin-top: -20px;
}



.contianer-map{ 
	width: 1460px; 
	position:center; 
	margin-top: 60px;
}


.img-responsive{
	opacity: 20%;

}


/*map*/
.map {
    position: center;
    margin-bottom: 50px;
    padding: 10px;
    margin-top: 80px;
    margin-left: 303px;
    width: 1000px;
    height: 500px;
    background-color: $color_celeste_approx;
    border-style: groove;
    border-width: 10px;
    border-color: #666699;

}

.container-map {
    margin-bottom: 0px;
    padding: 10px; 
    padding: 5px;
    background-color: $color_mine_shaft_approx !important;
    width: 100% !important;
}

/*table*/
table.imagetable {
    font-family: $font_3, $font_4, $font_1;
    font-size: 17px;
    color: $color_mine_shaft_approx;
    border-width: 1px;
    border-color: $color_mountain_mist_approx;
    border-collapse: collapse;
    text-align: center;
    margin-top: 20px;
    margin-left: 20%;
    th {
        background: $color_jungle_mist_approx $url_0;
        border-width: 3px;
        padding: 8px;
        border-style: solid;
        border-color: #336699;
        border-spacing: 10px;
        text-align: center;
    }
    td {
        background: $color_tana_approx $url_1;
        border-width: 3px;
        padding: 8px;
        border-style: solid;
        border-color: $color_mountain_mist_approx;
        border-spacing: 10px;
    }
}


.container-theader {
    float: center;
    font-style: bold !important;
    font-size: 40px !important;
    color: #336699;
    text-align: center;
    margin-bottom: 20px;
}

.container-table {
    background-color: $color_edward_approx;
    width: 100% !important;
}


.hidden-col{
    display: none;
}

.h1{
    margin-left: 150px;
}
/*search form*/


.container-search { 
 
    margin-bottom: 0px;
    padding: 10px; 
    padding: 5px;
    background-color: $color_mine_shaft_approx !important;
    width: 100% !important;
}

.search-form1{
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #336699;
    border-width: 4px;
    border-style: solid;
    border-color: $color_mountain_mist_approx;
    border-radius: 25px;
}


.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50% !important;
}    
